* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    /* width: 430px; */
    background-color: rgb(159, 156, 156);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    transition:transform 0.2s ease-in;
    position: absolute;

}

.main {
    width: 90vw;
    margin-left: 150px;
    /* background-color: yellow;; */
}

.sidebar nav {
    padding: 22px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}

.Info {
    /* background-color: pink; */
    height: 58vh;
    width: 80vw;
    margin: 133px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divimg img {
    height: 50vh;
    justify-items: center;
    padding: 20px;
}

.devinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 70px;
}

.name {
    font-size: 60px;
    font-weight: bold;
}

.skill {
    font-size: 40px;
}

.buttons {
    margin: 30px 0px;
}

.buttons button {
    padding: 9px 7px;
    margin: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 22px;
}

.moreabout {
    margin: 5px 0px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons button:hover {
    background-color: red;
    color: white;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

form h1 {
    font-size: 50px;
    padding-left: 350px;
}

.mb-3 {
    justify-content: center;
    padding-left: 450px;
    padding-top: 20px;
    font-size: 25px;
}

.btn {
    padding-left: 510px;
    padding-top: 20px;
}

.btn button {
    font-size: 25px;
    color: black;
    border-radius: 222px;
    padding: 9px 7px;
    border: 5px solid grey;
}

.img {
    background-image: url(https://thumbs.dreamstime.com/b/contact-me-word-wooden-cubes-written-188527637.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.form-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skillheader h1 {
    padding-left: 550px;
    margin-top: 5px;
    font-size: 50px;
}

.first-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px;
    margin-left: 400px;
}
.second-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}
.third-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}

.fourth-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}

.fifth-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}

.six-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}


.seven-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}

.Eigth-skill {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: cursive;
    margin: 30px ;
    margin-left: 400px;
}

.first {
    background-color: red;
    width: 20vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.second {
    background-color:yellow;
    width: 15vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.third {
    background-color:grey;
    width: 25vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.four{
    background-color: blue;
    width: 15vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.five{
    background-color:orchid;
    width: 15vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.six{
    background-color:violet;
    width: 15vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.seven{
    background-color:pink;
    width: 20vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.Eigth{
    background-color: brown;
    width: 20vw;
    height: 5px;
    margin-top: 15px;
    margin-left: 25px;
    border: 2px solid black;
}

.first-skill  a{
    text-decoration: none;
}

.second-skill  a{
    text-decoration: none;
}

.third-skill  a{
    text-decoration: none;
}

.fourth-skill  a{
    text-decoration: none;
}

.fifth-skill  a{
    text-decoration: none;
}

.six-skill  a{
    text-decoration: none;
}

.seven-skill  a{
    text-decoration: none;
}

.Eigth-skill  a{
    text-decoration: none;
}
.finish{
    margin: 80px 300px;
    
}

.finish h3{
    color: red;
    font-size: 20px;
}

.finish a{
    text-decoration: none;
}

.menu{
    position: absolute;
    cursor:pointer;
    top:5px;
    left: 10px;

}

.cross{
    margin-left:  110px;
    top: 1px;
}

.ham{
    margin-left: 10px;
}

.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
}
